@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/***** Index *****/

* {
    font-family: 'Poppins', sans-serif;
}

@media(min-width: 1200px) {
    .searchBar {
        width: 50%;
    }
}

.pb-3 {
    font-family: 'Poppins';
    font-size: 4rem;
}

.lead1 {
    font-family: verdana;
    color: black;
    font-weight: 300;
}

.lead2 {
    font-family: verdana;
    color: black;
    font-weight: 600;
}

.navbar {
    font-family: 'Poppins';
    font-size: 15px;
    color: black;
    font-weight: 400;
}

.iconMain img {
    width: 50px;
    height: 40px;
    color: white;
}

.back-to-top {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 40px;
    right: 50px;
    box-shadow: 1rem;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

#cancersymp li {
    list-style: none;
    text-decoration: none;
}

.c1 {
    font-weight: 600;
}

.backgroundpara1 {
    height: 50vh;
    width: 100vw;
    background-image: url("backgroundpara1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundpara2 {
    height: 55vh;
    width: 100%;
    background-image: url("backgroundpara2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/***** End of Index *****/





/***** About Us *****/

/***** End of About Us *****/




/***** Cancer Symptoms *****/
/***** SearchBar *****/
.buttoncancer1 {
    display: inline-flex;
}
/***** SearchBar *****/
#button-addon3 {
    color: rgb(0, 0, 0);
}

.searchBar {
    color: rgb(0, 0, 0);
}
/***** End of Cancer Symptoms *****/





/***** Donate *****/

/***** End of Donate *****/






/***** Blog *****/

/***** End of Blog *****/






/***** Contact us *****/

/***** End of Contact us *****/